.box {
    background-color: #567895;
}

.encabezado {
    background-color: rgba(25, 19, 103, 0.504);
}

table{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 0%;
}
td{
    border: 2px black;
    color: rgb(255, 245, 241);
    font-size: 30px;
}

#verde{
    background-color: green;
}